/vendor/
composer.phar

# Runtime / Logs
/storage/logs/
/storage/cache/

# Local exports
*.zip

# Patch Backups
*.bak-*

# Affinity
*.afdesign~lock~

# Windows / macOS
Thumbs.db
desktop.ini
.DS_Store

# IDE
.idea/
.vscode/